@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  background: #aaa;
  color: #333;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  /*
  1rem:
   h1 → font-size:24px line-height:28px
   h2 → font-size:24px line-height:28px
   h3 → font-size:14px line-height:22px
   p → font-size:18px line-height:24px
  */
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

button, a{
  display: block;
  background: olivedrab;
  color: #fff;
  font-size: 1rem;
  width: 100px;
  padding: 8px 0;
  margin: 0 auto;
}

button.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.container{
  background: olivedrab;
  padding: 30px 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#game{
  background: beige;
  width: 100%;
  height: 100%;
  padding: 20px;
}


#master{
  background: #fff;
  width: 90%;
  text-align: center;
  padding: 20px 10px;
  margin: 40px auto;
  position: relative;
}

#master p{
  margin-bottom: 20px;
}

#master.title{
  padding: 60px 40px;
}

#master.title h2{
  margin-bottom: 30px;
}

#showrule{
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 0.75rem;
  width: 60px;
  border-radius: 30px;
}

#enemy,#me{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.person-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h2.person{
  display: inline-block;
  padding: 8px;
  margin: 8px 0;
  color: green;
}

h3.sum{
  padding-bottom: 10px;
}

.cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards p {
  background: #fff;
  font-size: 1.4rem;
  width: 40px;
  height: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 4px 0;
  border: 2px solid #333;
  color: green;
  user-select: none;
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden{  
  height: 0;
  margin: 0;
  margin-top: 0 !important;
  padding: 0;
  transition-duration: opacity 0.3s;
  pointer-events: none;
  opacity: 0 !important;
}

#rule {
  position: fixed;
  width: 90%;
  max-width: 560px;
  background: #333;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 10px 40px;
  transition: opacity 0.3s;
}

#rule h2 {
  color: #fff;
  padding: 10px 0;
}

#rule .content {
  background: #fff;
  padding: 20px 10px 40px;
  text-align: left;
}

#rule .content p {
  font-size: 0.9rem;
}

#rule .pagenation {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: #fff;
  user-select: none;
}

#rule #rulePage {
  padding: 0 30px;
}

#rulePrev, #ruleNext {
  cursor: pointer;
}

#rulePrev.disabled, #ruleNext.disabled {
  color: #888;
  cursor: unset;
  user-select: none;
}

#rule #rule-close {
  width: 20px;
  height: 22px;
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
}

#rule-close::before, #rule-close::after {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
}

#rule-close::before {
  transform: translateY(10px)rotate(45deg);
}

#rule-close::after {
  transform: translateY(10px)rotate(-45deg);
}


footer{
  color: #ddd;
  font-size: 0.8rem;
  padding: 16px 0;
  text-align: center;
}

@media screen and (max-width:500px) {
  button,a{
    font-size: 0.9rem;
    padding: 6px;
    width: 80px;
  }

  .container{
    padding: 30px 0;
  }

  .buttons{
    width: 75%;
  }

  #master{
    margin: 20px auto;
    padding: 30px 10px 50px;
  }

  #showrule{
    font-size: 0.6rem;
    padding: 4px 0;
  }

  .cards{
    width: 65%;
    margin: 10px 0;
  }

  #enemy .cards{
    padding-left: 5%;
  }
  #me .cards{
    padding-right: 5%;
  }

  .cards p{
    font-size: 1.2rem;
  }

  .person-wrapper{
    width: 35%;
  }

  #rule {
    top: 20px;
    max-height: 80%;
  }

}